networks:
  privateindexer-net:
    name: privateindexer-net
    driver: bridge
services:
  server:
    image: ghcr.io/humehouse/privateindexer-server:latest
    container_name: privateindexer-server
    restart: unless-stopped
    environment:
      REDIS_HOST: privateindexer-redis
      MYSQL_HOST: privateindexer-mysql
      MYSQL_ROOT_PASSWORD: privateindexer
      EXTERNAL_SERVER_URL: https://indexer.humehouse.com
      EXTERNAL_TRACKER_URL: https://tracker.humehouse.com
    volumes:
      - /humehouse/privateindexer/server/data:/app/data
      - /humehouse/privateindexer/server/logs:/app/logs
    networks:
      - privateindexer-net
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
    logging:
      options:
        max-size: 10m
        max-file: 5
    build:
      context: .
      network: host
  redis:
    image: redis:latest
    container_name: privateindexer-redis
    restart: unless-stopped
    volumes:
      - /humehouse/privateindexer/server/redis:/data
    networks:
      - privateindexer-net
    healthcheck:
      test: redis-cli ping
      interval: 30s
      timeout: 10s
      retries: 3
  mysql:
    container_name: privateindexer-mysql
    image: mysql:8
    command:
      --mysql-native-password=ON
      --skip-log-bin
      --range-optimizer-max-mem-size=0
      --innodb-undo-log-truncate=ON
      --innodb-max-undo-log-size=128M
    environment:
      MYSQL_ROOT_PASSWORD: privateindexer
    volumes:
      - /humehouse/privateindexer/server/mysql:/var/lib/mysql
    restart: unless-stopped
    healthcheck:
      test: mysql --version
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - privateindexer-net