name: Test Docker Build

on:
  pull_request:
    branches: [ master ]

jobs:
  test-docker-build:
    runs-on: self-hosted
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
